In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = ('Resources/sample_citi_201901.csv')
citi_01_df = pd.read_csv(file_path)

In [3]:
file_path = ('Resources/sample_citi_201902.csv')
citi_02_df = pd.read_csv(file_path)

In [4]:
file_path = ('Resources/sample_citi_201903.csv')
citi_03_df = pd.read_csv(file_path)

In [5]:
file_path = ('Resources/sample_citi_201904.csv')
citi_04_df = pd.read_csv(file_path)

In [6]:
file_path = ('Resources/sample_citi_201905.csv')
citi_05_df = pd.read_csv(file_path)

In [7]:
file_path = ('Resources/sample_citi_201906.csv')
citi_06_df = pd.read_csv(file_path)

In [8]:
file_path = ('Resources/sample_citi_201907.csv')
citi_07_df = pd.read_csv(file_path)

In [9]:
file_path = ('Resources/sample_citi_201908.csv')
citi_08_df = pd.read_csv(file_path)

In [10]:
file_path = ('Resources/sample_citi_201909.csv')
citi_09_df = pd.read_csv(file_path)

In [11]:
file_path = ('Resources/sample_citi_201910.csv')
citi_10_df = pd.read_csv(file_path)

In [12]:
file_path = ('Resources/sample_citi_201911.csv')
citi_11_df = pd.read_csv(file_path)

In [13]:
file_path = ('Resources/sample_citi_201912.csv')
citi_12_df = pd.read_csv(file_path)

In [14]:
citi_1902_df = citi_01_df.append(citi_02_df, ignore_index = True)

In [15]:
citi_1903_df = citi_1902_df.append(citi_03_df, ignore_index = True)

In [16]:
citi_1904_df = citi_1903_df.append(citi_04_df, ignore_index = True)

In [17]:
citi_1905_df = citi_1904_df.append(citi_05_df, ignore_index = True)

In [18]:
citi_1906_df = citi_1905_df.append(citi_06_df, ignore_index = True)

In [19]:
citi_1907_df = citi_1906_df.append(citi_07_df, ignore_index = True)

In [20]:
citi_1908_df = citi_1907_df.append(citi_08_df, ignore_index = True)

In [21]:
citi_1909_df = citi_1908_df.append(citi_09_df, ignore_index = True)

In [22]:
citi_1910_df = citi_1909_df.append(citi_10_df, ignore_index = True)

In [23]:
citi_1911_df = citi_1910_df.append(citi_11_df, ignore_index = True)

In [24]:
citi_2019_df = citi_1911_df.append(citi_12_df, ignore_index = True)

In [25]:
citi_2019_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_2019_df),1))

In [26]:
# citi_2019_df['mod3'] = citi_2019_df['Random_integer'] % 3

In [27]:
# citi_2019_df['mod3'].value_counts()

In [28]:
citi_2019_df['mod2'] = citi_2019_df['Random_integer'] % 2

In [29]:
citi_2019_df["mod2"].value_counts()

1    1047629
0    1046491
Name: mod2, dtype: int64

In [30]:
citi_2019_df['start station id'] = citi_2019_df['start station id'].apply(str)
citi_2019_df['end station id'] = citi_2019_df['end station id'].apply(str)
citi_2019_df['bikeid'] = citi_2019_df['bikeid'].apply(str)

In [31]:
citi_2019_df['startride'] = pd.to_datetime(citi_2019_df['starttime'])

In [32]:
citi_2019_df['stopride'] = pd.to_datetime(citi_2019_df['stoptime'])

In [33]:
citi_2019_df.describe()

,tripduration,start station latitude,start station longitude,end station latitude,end station longitude,birth year,gender,Random_integer,mod10,mod2
count,2.094120e+06,2.094120e+06,2.094120e+06,2.094120e+06,2.094120e+06,2.094120e+06,2.094120e+06,2.094120e+06,2094120.0,2.094120e+06
mean,9.743421e+02,4.073704e+01,-7.398321e+01,4.073674e+01,-7.398341e+01,1.980218e+03,1.164702e+00,4.999667e+04,7.0,5.002717e-01
std,1.049799e+04,3.023487e-02,2.150675e-02,3.008294e-02,2.153931e-02,1.210853e+01,5.373669e-01,2.885426e+04,0.0,5.000000e-01
min,6.100000e+01,4.065540e+01,-7.408364e+01,4.065540e+01,-7.408364e+01,1.857000e+03,0.000000e+00,0.000000e+00,7.0,0.000000e+00
25%,3.580000e+02,4.071755e+01,-7.399601e+01,4.071755e+01,-7.399662e+01,1.970000e+03,1.000000e+00,2.501300e+04,7.0,0.000000e+00
50%,6.080000e+02,4.073705e+01,-7.398584e+01,4.073653e+01,-7.398627e+01,1.983000e+03,1.000000e+00,4.997900e+04,7.0,1.000000e+00
75%,1.070000e+03,4.075715e+01,-7.397188e+01,4.075660e+01,-7.397208e+01,1.990000e+03,1.000000e+00,7.500100e+04,7.0,1.000000e+00
max,3.100420e+06,4.086900e+01,-7.387800e+01,4.086600e+01,-7.387800e+01,2.003000e+03,2.000000e+00,9.999900e+04,7.0,1.000000e+00

In [34]:
citi_2019_df['trip_len_hrs'] = citi_2019_df['tripduration'] / 3600

In [35]:
citi_2019_df['trip_year'] = citi_2019_df['starttime'].str[:4]

In [36]:
citi_2019_df['trip_year'] = pd.to_numeric(citi_2019_df['trip_year'])

In [37]:
citi_2019_df['month'] = citi_2019_df['starttime'].str[5:7]

In [38]:
citi_2019_df['month'] = pd.to_numeric(citi_2019_df['month'])

In [39]:
def quarter_cat(row):

    if row['month'] >= 1 and row['month'] <= 3:
        qtr_val = 'Q1'
    elif row['month'] >= 4 and row['month'] <= 6:
        qtr_val = 'Q2'
    elif row['month'] >= 7 and row['month'] <= 9:
        qtr_val = 'Q3'
    elif row['month'] >= 10 and row['month'] <= 12:
        qtr_val = 'Q4'
    else:
        qtr_val = 'NaN'
    return qtr_val

In [40]:
citi_2019_df['quarter'] = citi_2019_df.apply(quarter_cat, axis=1)

In [41]:
def season_cat(row):

    if row['month'] >= 1 and row['month'] <= 2:
        season_val = 'winter'
    elif row['month'] >= 4 and row['month'] <= 5:
        season_val = 'spring'
    elif row['month'] >= 7 and row['month'] <= 8:
        season_val = 'summer'
    elif row['month'] >= 9 and row['month'] <= 10:
        season_val = 'fall'
    else:
        season_val = 'other'
    return season_val

In [42]:
citi_2019_df['season'] = citi_2019_df.apply(season_cat, axis=1)

In [43]:
def sex_label(row):

    if row['gender'] == 2:
        sex_val = 'female'
    elif row['gender'] == 1:
        sex_val = 'male'
    else:
        sex_val = 'na'
    return sex_val

In [44]:
citi_2019_df['sex'] = citi_2019_df.apply(sex_label, axis=1)

In [45]:

def age_calc(row):

    if row['birth year'] >= 2000:
        age_val = row['trip_year'] - row['birth year'] + row['mod2']
    elif row['birth year'] >= 1930:
        age_val = (2000 - row['birth year']) + (row['trip_year'] - 2000) + row['mod2']
    else:
        age_val = 'na'
    return age_val

In [46]:
citi_2019_df['age'] = citi_2019_df.apply(age_calc, axis=1)

In [48]:
citi_2019_df = citi_2019_df.drop('mod2', axis=1)
citi_2019_df = citi_2019_df.drop('Random_integer', axis=1)

In [49]:
citi_2019_df.to_csv("Output/citi_sample_2019.csv", index=False)

In [ ]:
citi_2019_df.dtypes

In [ ]:
citi_2019_df.head(7)

In [ ]:
citi_2019_df["birth year"].value_counts()

In [ ]:
citi_2019_df["gender"].value_counts()