In [236]:
import pandas as pd
import numpy as np

## 2016

### July 2016

In [237]:
file_path = ('Resources/YearOverYear/JC-201607-citibike-tripdata.csv')
JC_1607_df = pd.read_csv(file_path)

In [238]:
file_path = ('Resources/YearOverYear/201607-citibike-tripdata.csv')
NY_1607_df = pd.read_csv(file_path)

In [239]:
JC_1607_df['Start Time'] = pd.to_datetime(JC_1607_df['Start Time'])
JC_1607_df['Stop Time'] = pd.to_datetime(JC_1607_df['Stop Time'])
NY_1607_df['starttime'] = pd.to_datetime(NY_1607_df['starttime'])
NY_1607_df['stoptime'] = pd.to_datetime(NY_1607_df['stoptime'])

In [240]:
JC_1607_df = JC_1607_df.rename(columns={"Trip Duration":"tripduration", 
                                          "Start Time":"starttime",
                                          "Stop Time":"stoptime",
                                          "Start Station ID":"start station id",
                                          "Start Station Name":"start station name",
                                          "Start Station Latitude":"start station latitude",
                                          "Start Station Longitude":"start station longitude",
                                          "End Station ID":"end station id",
                                          "End Station Name":"end station name",
                                          "End Station Latitude":"end station latitude",
                                          "End Station Longitude":"end station longitude",
                                          "Bike ID":"bikeid",
                                          "User Type":"usertype",
                                          "Birth Year":"birth year",
                                          "Gender":"gender"})

In [241]:
citi_201607_df = NY_1607_df.append(JC_1607_df, ignore_index = True)

In [242]:
citi_201607_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201607_df),1))

In [243]:
citi_201607_df['mod10'] = citi_201607_df['Random_integer'] % 10

In [244]:
citi_201607_df['mod10'].value_counts()

6    140971
9    140920
8    140872
2    140448
5    140304
4    140299
0    140282
3    140276
7    140186
1    139988
Name: mod10, dtype: int64

In [245]:
sample_201607_df = citi_201607_df.loc[citi_201607_df["mod10"] == 7]

In [246]:
sample_201607_df = sample_201607_df.drop('mod10', axis=1)
sample_201607_df = sample_201607_df.drop('Random_integer', axis=1)

In [247]:
sample_201607_df.to_csv("Resources/YOY_citi_201607.csv", index=False)

### August 2016

In [248]:
file_path = ('Resources/YearOverYear/JC-201608-citibike-tripdata.csv')
JC_1608_df = pd.read_csv(file_path)

In [249]:
file_path = ('Resources/YearOverYear/201608-citibike-tripdata.csv')
NY_1608_df = pd.read_csv(file_path)

In [250]:
JC_1608_df['Start Time'] = pd.to_datetime(JC_1608_df['Start Time'])
JC_1608_df['Stop Time'] = pd.to_datetime(JC_1608_df['Stop Time'])
NY_1608_df['starttime'] = pd.to_datetime(NY_1608_df['starttime'])
NY_1608_df['stoptime'] = pd.to_datetime(NY_1608_df['stoptime'])

In [251]:
JC_1608_df = JC_1608_df.rename(columns={"Trip Duration":"tripduration", 
                                          "Start Time":"starttime",
                                          "Stop Time":"stoptime",
                                          "Start Station ID":"start station id",
                                          "Start Station Name":"start station name",
                                          "Start Station Latitude":"start station latitude",
                                          "Start Station Longitude":"start station longitude",
                                          "End Station ID":"end station id",
                                          "End Station Name":"end station name",
                                          "End Station Latitude":"end station latitude",
                                          "End Station Longitude":"end station longitude",
                                          "Bike ID":"bikeid",
                                          "User Type":"usertype",
                                          "Birth Year":"birth year",
                                          "Gender":"gender"})

In [252]:
citi_201608_df = NY_1608_df.append(JC_1608_df, ignore_index = True)

In [253]:
citi_201608_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201608_df),1))

In [254]:
citi_201608_df['mod10'] = citi_201608_df['Random_integer'] % 10

In [255]:
citi_201608_df['mod10'].value_counts()

6    159639
0    159616
9    159342
4    159281
3    159235
2    159135
5    159083
7    159068
8    158769
1    158644
Name: mod10, dtype: int64

In [256]:
sample_201608_df = citi_201608_df.loc[citi_201608_df["mod10"] == 7]

In [257]:
sample_201608_df = sample_201608_df.drop('mod10', axis=1)
sample_201608_df = sample_201608_df.drop('Random_integer', axis=1)

In [258]:
sample_201608_df.to_csv("Resources/YOY_citi_201608.csv", index=False)

### September 2016

In [259]:
file_path = ('Resources/YearOverYear/JC-201609-citibike-tripdata.csv')
JC_1609_df = pd.read_csv(file_path)

In [260]:
file_path = ('Resources/YearOverYear/201609-citibike-tripdata.csv')
NY_1609_df = pd.read_csv(file_path)

In [261]:
JC_1609_df['Start Time'] = pd.to_datetime(JC_1609_df['Start Time'])
JC_1609_df['Stop Time'] = pd.to_datetime(JC_1609_df['Stop Time'])
NY_1609_df['starttime'] = pd.to_datetime(NY_1609_df['starttime'])
NY_1609_df['stoptime'] = pd.to_datetime(NY_1609_df['stoptime'])

In [262]:
JC_1609_df = JC_1609_df.rename(columns={"Trip Duration":"tripduration", 
                                          "Start Time":"starttime",
                                          "Stop Time":"stoptime",
                                          "Start Station ID":"start station id",
                                          "Start Station Name":"start station name",
                                          "Start Station Latitude":"start station latitude",
                                          "Start Station Longitude":"start station longitude",
                                          "End Station ID":"end station id",
                                          "End Station Name":"end station name",
                                          "End Station Latitude":"end station latitude",
                                          "End Station Longitude":"end station longitude",
                                          "Bike ID":"bikeid",
                                          "User Type":"usertype",
                                          "Birth Year":"birth year",
                                          "Gender":"gender"})

In [263]:
citi_201609_df = NY_1609_df.append(JC_1609_df, ignore_index = True)

In [264]:
citi_201609_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201609_df),1))

In [265]:
citi_201609_df['mod10'] = citi_201609_df['Random_integer'] % 10

In [266]:
citi_201609_df['mod10'].value_counts()

0    168601
9    168553
5    168429
6    168350
3    168199
1    168138
7    168121
8    168044
4    168011
2    167835
Name: mod10, dtype: int64

In [267]:
sample_201609_df = citi_201609_df.loc[citi_201609_df["mod10"] == 7]

In [268]:
sample_201609_df = sample_201609_df.drop('mod10', axis=1)
sample_201609_df = sample_201609_df.drop('Random_integer', axis=1)

In [269]:
sample_201609_df.to_csv("Resources/YOY_citi_201609.csv", index=False)

## 2017

### July 2017

In [270]:
file_path = ('Resources/YearOverYear/JC-201707-citibike-tripdata.csv')
JC_1707_df = pd.read_csv(file_path)

In [271]:
file_path = ('Resources/YearOverYear/201707-citibike-tripdata.csv')
NY_1707_df = pd.read_csv(file_path)

In [272]:
JC_1707_df['starttime'] = pd.to_datetime(JC_1707_df['starttime'])
JC_1707_df['stoptime'] = pd.to_datetime(JC_1707_df['stoptime'])
NY_1707_df['starttime'] = pd.to_datetime(NY_1707_df['starttime'])
NY_1707_df['stoptime'] = pd.to_datetime(NY_1707_df['stoptime'])

In [273]:
citi_201707_df = NY_1707_df.append(JC_1707_df, ignore_index = True)

In [274]:
citi_201707_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201707_df),1))

In [275]:
citi_201707_df['mod10'] = citi_201707_df['Random_integer'] % 10

In [276]:
citi_201707_df['mod10'].value_counts()

0    178260
5    177232
3    177013
7    176996
8    176959
1    176860
9    176789
6    176524
4    176323
2    176216
Name: mod10, dtype: int64

In [277]:
sample_201707_df = citi_201707_df.loc[citi_201707_df["mod10"] == 7]

In [278]:
sample_201707_df = sample_201707_df.drop('mod10', axis=1)
sample_201707_df = sample_201707_df.drop('Random_integer', axis=1)

In [279]:
sample_201707_df.to_csv("Resources/YOY_citi_201707.csv", index=False)

### August 2017

In [280]:
file_path = ('Resources/YearOverYear/JC-201708-citibike-tripdata.csv')
JC_1708_df = pd.read_csv(file_path)

In [281]:
file_path = ('Resources/YearOverYear/201708-citibike-tripdata.csv')
NY_1708_df = pd.read_csv(file_path)

In [282]:
JC_1708_df['starttime'] = pd.to_datetime(JC_1708_df['starttime'])
JC_1708_df['stoptime'] = pd.to_datetime(JC_1708_df['stoptime'])
NY_1708_df['starttime'] = pd.to_datetime(NY_1708_df['starttime'])
NY_1708_df['stoptime'] = pd.to_datetime(NY_1708_df['stoptime'])

In [283]:
citi_201708_df = NY_1708_df.append(JC_1708_df, ignore_index = True)

In [284]:
citi_201708_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201708_df),1))

In [285]:
citi_201708_df['mod10'] = citi_201708_df['Random_integer'] % 10

In [286]:
citi_201708_df['mod10'].value_counts()

3    185495
1    185493
2    185378
9    185227
5    185188
8    185180
0    185128
6    185115
7    184896
4    184870
Name: mod10, dtype: int64

In [287]:
sample_201708_df = citi_201708_df.loc[citi_201708_df["mod10"] == 7]

In [288]:
sample_201708_df = sample_201708_df.drop('mod10', axis=1)
sample_201708_df = sample_201708_df.drop('Random_integer', axis=1)

In [289]:
sample_201708_df.to_csv("Resources/YOY_citi_201708.csv", index=False)

### September 2017

In [290]:
file_path = ('Resources/YearOverYear/JC-201709-citibike-tripdata.csv')
JC_1709_df = pd.read_csv(file_path)

In [291]:
file_path = ('Resources/YearOverYear/201709-citibike-tripdata.csv')
NY_1709_df = pd.read_csv(file_path)

In [292]:
JC_1709_df['starttime'] = pd.to_datetime(JC_1709_df['starttime'])
JC_1709_df['stoptime'] = pd.to_datetime(JC_1709_df['stoptime'])
NY_1709_df['starttime'] = pd.to_datetime(NY_1709_df['starttime'])
NY_1709_df['stoptime'] = pd.to_datetime(NY_1709_df['stoptime'])

In [293]:
citi_201709_df = NY_1709_df.append(JC_1709_df, ignore_index = True)

In [294]:
citi_201709_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201709_df),1))

In [295]:
citi_201709_df['mod10'] = citi_201709_df['Random_integer'] % 10

In [296]:
citi_201709_df['mod10'].value_counts()

8    192084
6    191891
1    191575
2    191342
5    191205
7    191198
3    190877
9    190480
4    190456
0    190109
Name: mod10, dtype: int64

In [297]:
sample_201709_df = citi_201709_df.loc[citi_201709_df["mod10"] == 7]

In [298]:
sample_201709_df = sample_201709_df.drop('mod10', axis=1)
sample_201709_df = sample_201709_df.drop('Random_integer', axis=1)

In [299]:
sample_201709_df.to_csv("Resources/YOY_citi_201709.csv", index=False)

## 2018

### July 2018

In [300]:
file_path = ('Resources/YearOverYear/JC-201807-citibike-tripdata.csv')
JC_1807_df = pd.read_csv(file_path)

In [301]:
file_path = ('Resources/YearOverYear/201807-citibike-tripdata.csv')
NY_1807_df = pd.read_csv(file_path)

In [302]:
JC_1807_df['starttime'] = pd.to_datetime(JC_1807_df['starttime'])
JC_1807_df['stoptime'] = pd.to_datetime(JC_1807_df['stoptime'])
NY_1807_df['starttime'] = pd.to_datetime(NY_1807_df['starttime'])
NY_1807_df['stoptime'] = pd.to_datetime(NY_1807_df['stoptime'])

In [303]:
citi_201807_df = NY_1807_df.append(JC_1807_df, ignore_index = True)

In [304]:
citi_201807_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201807_df),1))

In [305]:
citi_201807_df['mod10'] = citi_201807_df['Random_integer'] % 10

In [306]:
citi_201807_df['mod10'].value_counts()

1    196197
7    195971
5    195940
3    195713
8    195703
6    195562
0    195536
9    195143
4    195126
2    195002
Name: mod10, dtype: int64

In [307]:
sample_201807_df = citi_201807_df.loc[citi_201807_df["mod10"] == 7]

In [308]:
sample_201807_df = sample_201807_df.drop('mod10', axis=1)
sample_201807_df = sample_201807_df.drop('Random_integer', axis=1)

In [309]:
sample_201807_df.to_csv("Resources/YOY_citi_201807.csv", index=False)

### August 2018

In [310]:
file_path = ('Resources/YearOverYear/JC-201808-citibike-tripdata.csv')
JC_1808_df = pd.read_csv(file_path)

In [311]:
file_path = ('Resources/YearOverYear/201808-citibike-tripdata.csv')
NY_1808_df = pd.read_csv(file_path)

In [312]:
JC_1808_df['starttime'] = pd.to_datetime(JC_1808_df['starttime'])
JC_1808_df['stoptime'] = pd.to_datetime(JC_1808_df['stoptime'])
NY_1808_df['starttime'] = pd.to_datetime(NY_1808_df['starttime'])
NY_1808_df['stoptime'] = pd.to_datetime(NY_1808_df['stoptime'])

In [313]:
citi_201808_df = NY_1808_df.append(JC_1808_df, ignore_index = True)

In [314]:
citi_201808_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201808_df),1))

In [315]:
citi_201808_df['mod10'] = citi_201808_df['Random_integer'] % 10

In [316]:
citi_201808_df['mod10'].value_counts()

3    202710
8    202678
0    202634
7    202560
4    202266
9    202176
5    202110
1    201813
2    201484
6    201178
Name: mod10, dtype: int64

In [317]:
sample_201808_df = citi_201808_df.loc[citi_201808_df["mod10"] == 7]

In [318]:
sample_201808_df = sample_201808_df.drop('mod10', axis=1)
sample_201808_df = sample_201808_df.drop('Random_integer', axis=1)

In [319]:
sample_201808_df.to_csv("Resources/YOY_citi_201808.csv", index=False)

### September 2018

In [320]:
file_path = ('Resources/YearOverYear/JC-201809-citibike-tripdata.csv')
JC_1809_df = pd.read_csv(file_path)

In [321]:
file_path = ('Resources/YearOverYear/201809-citibike-tripdata.csv')
NY_1809_df = pd.read_csv(file_path)

In [322]:
JC_1809_df['starttime'] = pd.to_datetime(JC_1809_df['starttime'])
JC_1809_df['stoptime'] = pd.to_datetime(JC_1809_df['stoptime'])
NY_1809_df['starttime'] = pd.to_datetime(NY_1809_df['starttime'])
NY_1809_df['stoptime'] = pd.to_datetime(NY_1809_df['stoptime'])

In [323]:
citi_201809_df = NY_1809_df.append(JC_1809_df, ignore_index = True)

In [324]:
citi_201809_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201809_df),1))

In [325]:
citi_201809_df['mod10'] = citi_201809_df['Random_integer'] % 10

In [326]:
citi_201809_df['mod10'].value_counts()

5    192171
0    192020
9    191825
2    191686
4    191670
3    191625
1    191565
7    191475
8    191464
6    191405
Name: mod10, dtype: int64

In [327]:
sample_201809_df = citi_201809_df.loc[citi_201809_df["mod10"] == 7]

In [328]:
sample_201809_df = sample_201809_df.drop('mod10', axis=1)
sample_201809_df = sample_201809_df.drop('Random_integer', axis=1)

In [329]:
sample_201809_df.to_csv("Resources/YOY_citi_201809.csv", index=False)

## 2019

### July 2019

In [330]:
file_path = ('Resources/YearOverYear/JC-201907-citibike-tripdata.csv')
JC_1907_df = pd.read_csv(file_path)

In [331]:
file_path = ('Resources/YearOverYear/201907-citibike-tripdata.csv')
NY_1907_df = pd.read_csv(file_path)

In [332]:
JC_1907_df['starttime'] = pd.to_datetime(JC_1907_df['starttime'])
JC_1907_df['stoptime'] = pd.to_datetime(JC_1907_df['stoptime'])
NY_1907_df['starttime'] = pd.to_datetime(NY_1907_df['starttime'])
NY_1907_df['stoptime'] = pd.to_datetime(NY_1907_df['stoptime'])

In [333]:
citi_201907_df = NY_1907_df.append(JC_1907_df, ignore_index = True)

In [334]:
citi_201907_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201907_df),1))

In [335]:
citi_201907_df['mod10'] = citi_201907_df['Random_integer'] % 10

In [336]:
citi_201907_df['mod10'].value_counts()

2    223168
8    222744
4    222670
9    222605
6    222598
0    222313
5    222252
1    222219
7    222124
3    222117
Name: mod10, dtype: int64

In [337]:
sample_201907_df = citi_201907_df.loc[citi_201907_df["mod10"] == 7]

In [338]:
sample_201907_df = sample_201907_df.drop('mod10', axis=1)
sample_201907_df = sample_201907_df.drop('Random_integer', axis=1)

In [339]:
sample_201907_df.to_csv("Resources/YOY_citi_201907.csv", index=False)

### August 2019

In [340]:
file_path = ('Resources/YearOverYear/JC-201908-citibike-tripdata.csv')
JC_1908_df = pd.read_csv(file_path)

In [341]:
file_path = ('Resources/YearOverYear/201908-citibike-tripdata.csv')
NY_1908_df = pd.read_csv(file_path)

In [342]:
JC_1908_df['starttime'] = pd.to_datetime(JC_1908_df['starttime'])
JC_1908_df['stoptime'] = pd.to_datetime(JC_1908_df['stoptime'])
NY_1908_df['starttime'] = pd.to_datetime(NY_1908_df['starttime'])
NY_1908_df['stoptime'] = pd.to_datetime(NY_1908_df['stoptime'])

In [343]:
citi_201908_df = NY_1908_df.append(JC_1908_df, ignore_index = True)

In [344]:
citi_201908_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201908_df),1))

In [345]:
citi_201908_df['mod10'] = citi_201908_df['Random_integer'] % 10

In [346]:
citi_201908_df['mod10'].value_counts()

7    240177
5    239811
2    239654
0    239469
8    239452
3    239181
6    239003
4    238882
1    238785
9    238521
Name: mod10, dtype: int64

In [347]:
sample_201908_df = citi_201908_df.loc[citi_201908_df["mod10"] == 7]

In [348]:
sample_201908_df = sample_201908_df.drop('mod10', axis=1)
sample_201908_df = sample_201908_df.drop('Random_integer', axis=1)

In [349]:
sample_201908_df.to_csv("Resources/YOY_citi_201908.csv", index=False)

### September 2019

In [350]:
file_path = ('Resources/YearOverYear/JC-201909-citibike-tripdata.csv')
JC_1909_df = pd.read_csv(file_path)

In [351]:
file_path = ('Resources/YearOverYear/201909-citibike-tripdata.csv')
NY_1909_df = pd.read_csv(file_path)

In [352]:
JC_1909_df['starttime'] = pd.to_datetime(JC_1909_df['starttime'])
JC_1909_df['stoptime'] = pd.to_datetime(JC_1909_df['stoptime'])
NY_1909_df['starttime'] = pd.to_datetime(NY_1909_df['starttime'])
NY_1909_df['stoptime'] = pd.to_datetime(NY_1909_df['stoptime'])

In [353]:
citi_201909_df = NY_1909_df.append(JC_1909_df, ignore_index = True)

In [354]:
citi_201909_df['Random_integer'] = np.random.randint(0,100000,size=(len(citi_201909_df),1))

In [355]:
citi_201909_df['mod10'] = citi_201909_df['Random_integer'] % 10

In [356]:
citi_201909_df['mod10'].value_counts()

9    250003
1    249986
3    249915
2    249833
8    249520
7    249282
4    249217
5    249153
6    249087
0    248148
Name: mod10, dtype: int64

In [357]:
sample_201909_df = citi_201909_df.loc[citi_201909_df["mod10"] == 7]

In [358]:
sample_201909_df = sample_201909_df.drop('mod10', axis=1)
sample_201909_df = sample_201909_df.drop('Random_integer', axis=1)

In [359]:
sample_201909_df.to_csv("Resources/YOY_citi_201909.csv", index=False)