In [69]:
import pandas as pd
import numpy as np

In [70]:
file_path = ('Resources/YOY_citi_201607.csv')
yoy_1607_df = pd.read_csv(file_path)

In [71]:
file_path = ('Resources/YOY_citi_201608.csv')
yoy_1608_df = pd.read_csv(file_path)

In [72]:
file_path = ('Resources/YOY_citi_201609.csv')
yoy_1609_df = pd.read_csv(file_path)

In [73]:
file_path = ('Resources/YOY_citi_201707.csv')
yoy_1707_df = pd.read_csv(file_path)

In [74]:
file_path = ('Resources/YOY_citi_201708.csv')
yoy_1708_df = pd.read_csv(file_path)

In [75]:
file_path = ('Resources/YOY_citi_201709.csv')
yoy_1709_df = pd.read_csv(file_path)

In [76]:
file_path = ('Resources/YOY_citi_201807.csv')
yoy_1807_df = pd.read_csv(file_path)

In [77]:
file_path = ('Resources/YOY_citi_201808.csv')
yoy_1808_df = pd.read_csv(file_path)

In [78]:
file_path = ('Resources/YOY_citi_201809.csv')
yoy_1809_df = pd.read_csv(file_path)

In [79]:
file_path = ('Resources/YOY_citi_201907.csv')
yoy_1907_df = pd.read_csv(file_path)

In [80]:
file_path = ('Resources/YOY_citi_201908.csv')
yoy_1908_df = pd.read_csv(file_path)

In [81]:
file_path = ('Resources/YOY_citi_201909.csv')
yoy_1909_df = pd.read_csv(file_path)

In [82]:
yoy2_df = yoy_1607_df.append(yoy_1608_df, ignore_index = True)

In [83]:
yoy3_df = yoy2_df.append(yoy_1609_df, ignore_index = True)

In [84]:
yoy4_df = yoy3_df.append(yoy_1707_df, ignore_index = True)

In [85]:
yoy5_df = yoy4_df.append(yoy_1708_df, ignore_index = True)

In [86]:
yoy6_df = yoy5_df.append(yoy_1709_df, ignore_index = True)

In [87]:
yoy7_df = yoy6_df.append(yoy_1807_df, ignore_index = True)

In [88]:
yoy8_df = yoy7_df.append(yoy_1808_df, ignore_index = True)

In [89]:
yoy9_df = yoy8_df.append(yoy_1809_df, ignore_index = True)

In [90]:
yoy10_df = yoy9_df.append(yoy_1907_df, ignore_index = True)

In [91]:
yoy11_df = yoy10_df.append(yoy_1908_df, ignore_index = True)

In [92]:
yoy_julsep_df = yoy11_df.append(yoy_1909_df, ignore_index = True)

In [93]:
yoy_julsep_df['Random_integer'] = np.random.randint(0,100000,size=(len(yoy_julsep_df),1))

In [94]:
# citi_2019_df['mod3'] = citi_2019_df['Random_integer'] % 3

In [95]:
# citi_2019_df['mod3'].value_counts()

In [96]:
yoy_julsep_df['mod2'] = yoy_julsep_df['Random_integer'] % 2

In [97]:
yoy_julsep_df["mod2"].value_counts()

0    1161306
1    1160748
Name: mod2, dtype: int64

In [98]:
yoy_julsep_df['start station id'] = yoy_julsep_df['start station id'].apply(str)
yoy_julsep_df['end station id'] = yoy_julsep_df['end station id'].apply(str)
yoy_julsep_df['bikeid'] = yoy_julsep_df['bikeid'].apply(str)

In [99]:
# yoy_julsep_df['startride'] = pd.to_datetime(yoy_julsep_df['starttime'])

In [100]:
# yoy_julsep_df['stopride'] = pd.to_datetime(yoy_julsep_df['stoptime'])

In [101]:
yoy_julsep_df.describe()

,tripduration,start station latitude,start station longitude,end station latitude,end station longitude,birth year,gender,Random_integer,mod2
count,2.322054e+06,2.322054e+06,2.322054e+06,2.322054e+06,2.322054e+06,2.191381e+06,2.322054e+06,2.322054e+06,2.322054e+06
mean,1.019948e+03,4.073674e+01,-7.398492e+01,4.073489e+01,-7.398232e+01,1.979774e+03,1.126590e+00,4.999110e+04,4.998798e-01
std,1.186098e+04,2.908561e-02,2.065129e-02,2.495947e-01,4.507196e-01,1.177437e+01,5.774769e-01,2.886451e+04,5.000001e-01
min,6.100000e+01,4.064654e+01,-7.409694e+01,0.000000e+00,-7.409694e+01,1.874000e+03,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.850000e+02,4.071755e+01,-7.399726e+01,4.071755e+01,-7.399790e+01,1.970000e+03,1.000000e+00,2.500300e+04,0.000000e+00
50%,6.570000e+02,4.073653e+01,-7.398717e+01,4.073625e+01,-7.398752e+01,1.982000e+03,1.000000e+00,4.997700e+04,0.000000e+00
75%,1.149000e+03,4.075641e+01,-7.397422e+01,4.075594e+01,-7.397450e+01,1.989000e+03,1.000000e+00,7.499000e+04,1.000000e+00
max,6.053789e+06,4.550636e+01,-7.356946e+01,4.550636e+01,0.000000e+00,2.003000e+03,2.000000e+00,9.999900e+04,1.000000e+00

In [102]:
yoy_julsep_df['trip_len_hrs'] = yoy_julsep_df['tripduration'] / 3600

In [103]:
yoy_julsep_df['trip_year'] = yoy_julsep_df['starttime'].str[:4]

In [104]:
yoy_julsep_df['trip_year'] = pd.to_numeric(yoy_julsep_df['trip_year'])

In [105]:
yoy_julsep_df['month'] = yoy_julsep_df['starttime'].str[5:7]

In [106]:
yoy_julsep_df['month'] = pd.to_numeric(yoy_julsep_df['month'])

In [107]:
def quarter_cat(row):

    if row['month'] >= 1 and row['month'] <= 3:
        qtr_val = 'Q1'
    elif row['month'] >= 4 and row['month'] <= 6:
        qtr_val = 'Q2'
    elif row['month'] >= 7 and row['month'] <= 9:
        qtr_val = 'Q3'
    elif row['month'] >= 10 and row['month'] <= 12:
        qtr_val = 'Q4'
    else:
        qtr_val = 'NaN'
    return qtr_val

In [108]:
yoy_julsep_df['quarter'] = yoy_julsep_df.apply(quarter_cat, axis=1)

In [109]:
def season_cat(row):

    if row['month'] >= 1 and row['month'] <= 2:
        season_val = 'winter'
    elif row['month'] >= 4 and row['month'] <= 5:
        season_val = 'spring'
    elif row['month'] >= 7 and row['month'] <= 8:
        season_val = 'summer'
    elif row['month'] >= 9 and row['month'] <= 10:
        season_val = 'fall'
    else:
        season_val = 'other'
    return season_val

In [110]:
yoy_julsep_df['season'] = yoy_julsep_df.apply(season_cat, axis=1)

In [111]:
def sex_label(row):

    if row['gender'] == 2:
        sex_val = 'female'
    elif row['gender'] == 1:
        sex_val = 'male'
    else:
        sex_val = 'na'
    return sex_val

In [112]:
yoy_julsep_df['sex'] = yoy_julsep_df.apply(sex_label, axis=1)

In [113]:

def age_calc(row):

    if row['birth year'] >= 2000:
        age_val = row['trip_year'] - row['birth year'] + row['mod2']
    elif row['birth year'] >= 1930:
        age_val = (2000 - row['birth year']) + (row['trip_year'] - 2000) + row['mod2']
    else:
        age_val = 'na'
    return age_val

In [114]:
yoy_julsep_df['age'] = yoy_julsep_df.apply(age_calc, axis=1)

In [115]:
yoy_julsep_df = yoy_julsep_df.drop('mod2', axis=1)
yoy_julsep_df = yoy_julsep_df.drop('Random_integer', axis=1)

In [116]:
yoy_julsep_df.to_csv("Output/yoy_julsep_2016to2019.csv", index=False)

In [117]:
yoy_julsep_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id            object
start station name          object
start station latitude     float64
start station longitude    float64
end station id              object
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                      object
usertype                    object
birth year                 float64
gender                       int64
trip_len_hrs               float64
trip_year                    int64
month                        int64
quarter                     object
season                      object
sex                         object
age                         object
dtype: object

In [118]:
yoy_julsep_df.head(7)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,usertype,birth year,gender,trip_len_hrs,trip_year,month,quarter,season,sex,age
0,419,2016-07-01 00:01:59,2016-07-01 00:08:58,128.0,MacDougal St & Prince St,40.727103,-74.002971,435.0,W 21 St & 6 Ave,40.741740,...,Subscriber,1992.0,2,0.116389,2016,7,Q3,summer,female,25
1,209,2016-07-01 00:02:31,2016-07-01 00:06:01,410.0,Suffolk St & Stanton St,40.720664,-73.985180,473.0,Rivington St & Chrystie St,40.721101,...,Subscriber,1984.0,1,0.058056,2016,7,Q3,summer,male,33
2,635,2016-07-01 00:03:43,2016-07-01 00:14:19,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,402.0,Broadway & E 22 St,40.740343,...,Subscriber,1997.0,1,0.176389,2016,7,Q3,summer,male,19
3,612,2016-07-01 00:05:22,2016-07-01 00:15:34,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,3255.0,8 Ave & W 31 St,40.750585,...,Subscriber,1985.0,1,0.170000,2016,7,Q3,summer,male,32
4,1154,2016-07-01 00:06:33,2016-07-01 00:25:48,3140.0,1 Ave & E 78 St,40.771404,-73.953517,483.0,E 12 St & 3 Ave,40.732233,...,Subscriber,1990.0,1,0.320556,2016,7,Q3,summer,male,26
5,705,2016-07-01 00:08:38,2016-07-01 00:20:24,441.0,E 52 St & 2 Ave,40.756014,-73.967416,476.0,E 31 St & 3 Ave,40.743943,...,Subscriber,1991.0,1,0.195833,2016,7,Q3,summer,male,25
6,719,2016-07-01 00:11:04,2016-07-01 00:23:03,3125.0,45 Rd & 11 St,40.747086,-73.949772,3107.0,Bedford Ave & Nassau Ave,40.723117,...,Subscriber,1996.0,1,0.199722,2016,7,Q3,summer,male,21

In [119]:
yoy_julsep_df["birth year"].value_counts()

1969.0    150367
1989.0     93859
1988.0     92932
1990.0     92676
1987.0     85842
           ...
1905.0         1
1906.0         1
1891.0         1
1897.0         1
1874.0         1
Name: birth year, Length: 112, dtype: int64

In [120]:
yoy_julsep_df["gender"].value_counts()

1    1510486
2     552758
0     258810
Name: gender, dtype: int64